:root {
    --russian-violet: #140d41;
    --persian-indigo: #361e7c;
    --majorelle-blue: #804ef6;
    --lavender-blue: #c9d0fd;
    --melon: #f3b3a0;
    --puce: #d68fa0;
    --pearly-purple: #b86ba0;

    --gradient: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, #f3b3a0 50%, rgba(0, 0, 0, 0) 100%);

    --main-font: "Ubuntu Mono", sans-serif;
    --bold-font: 'Kanit', sans-serif;
    --sub-font: "Space Mono", monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    line-height: 1;
    background-color: var(--russian-violet);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


/* =================================================== BUBBLES BACKGROUND CSS ============================================= */

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background: #f3b3a0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f3b3a044,
        0 0 50px #f3b3a0,
        0 0 100px #f3b3a0;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #b86ba0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #b86ba044,
        0 0 50px #b86ba0,
        0 0 100px #b86ba0;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* =================================================== HEADER CSS ============================================= */

.header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100;
    transition: 0.3s ease-in-out;
}

.header.show-bg {
    background: #140d41ea;
}

.header-container {
    position: relative;
    margin: 0 3rem;
    margin-top: 1rem;
    /* height: 0.89rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* --------------------------------------------------- LOGO CSS ---------------------------------------------- */

.logo {
    width: 10rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    align-items: center;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer !important;
}

.object-span {
    display: inline-block;
}

.logo-image, .logo-image-bk {
    position: relative;
    z-index: -1;
    width: 100%;
    opacity: 1;
    filter: invert(73%) sepia(20%) saturate(791%) hue-rotate(198deg) brightness(110%) contrast(98%) drop-shadow(0 0 0.5px var(--lavender-blue));
}

/* --------------------------------------------------- MENU CSS ---------------------------------------------- */

.menu-wrap {
    display: flex;
    align-items: center;
    margin-left: 0.45rem;
}

.menu {
    display: flex;
    width: 20rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer !important;
}

.menu-item-link {
    position: relative;
    text-decoration: none;
    outline: none;
    color: var(--lavender-blue);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 0.5;
}

.menu-item:hover .menu-item-link:after,
.menu-item.active .menu-item-link:after {
    opacity: 1;
    background: var(--gradient);
    text-shadow: 0px 0px 1px var(--melon);
}

.menu-item:hover .menu-item-link,
.menu-item.active .menu-item-link {
    color: var(--melon);
    text-shadow: 0px 0px 2px var(--melon);
}

.menu-item-link:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient);
    opacity: 0;
    transition: opacity 375ms ease;
}

/* ---------------------------------------------- LOGIN BUTTON CSS -------------------------------------------- */

.login-btn {
    height: 2.5rem;
    margin: 0 2rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background: var(--persian-indigo);
    outline: none;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    text-decoration: none;
}

.login-btn:before {
    margin: -1px;
    z-index: -1;
    background: linear-gradient(180deg, #a783fc, #f7ecff 36.46%, rgba(227, 195, 255, 0) 97.92%, rgba(202, 142, 254, 0));
}

.login-btn:after, .login-btn:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
}

.login-btn:after {
    background: linear-gradient(180deg, rgba(247, 236, 255, .02), rgba(247, 236, 255, .1));
}

.login-btn:hover {
    background: var(--majorelle-blue);
    transition: all 500ms ease;
}

.login-btn-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 2.7rem;
    height: 100%;
    z-index: 1;
    background: none;
    white-space: nowrap;
    color: white;
    font-family: var(--bold-font);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: uppercase;
}

/* ----------------------------------------------- HAMBURGER CSS ---------------------------------------------- */

.hamburger {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.ham-stick {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--lavender-blue);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover .ham-stick.mid {
    transform: translateX(10px);
    background-color: var(--pearly-purple);
}

.hamburger.active .ham-stick.top {
    background-color: var(--pearly-purple);
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active .ham-stick.mid {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.active .ham-stick.bot {
    background-color: var(--pearly-purple);
    transform: translate(-3px, 3px) rotate(-45deg);
}

/* ----------------------------------------------- LOGIN FORM CSS ---------------------------------------------- */

.form-block {
    /* width: 100%;
    background-color: var(--pearly-purple);
    display: flex;
    position: unset;
    z-index: 99; */
}

.error-block {
    width: 100%;
    position: absolute;
    z-index: 8;
    background: #0f042e;
    text-align: center;
    padding: 1rem;
    display: block;
    color: var(--color-wild-watermelon) !important;
    top: -1rem;
    transition: all .3s ease;
    opacity: 0;
}

.inner-form-block {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0 1.2rem;
    /* background: radial-gradient(var(--persian-indigo) 0, var(--russian-violet) 100%); */
}

.form-title {
    max-width: 25rem;
    margin-top: 8rem;
    color: white;
    font-family: var(--bold-font);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
    margin: 0 auto;
    width: 25rem;
    min-width: 25rem;
}

.login-form label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    cursor: none;
}

.login-form label span {
    font-family: var(--bold-font);
    font-size: 0.5rem;
    line-height: 0.5rem;
    letter-spacing: 1.2px;
    margin-bottom: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 0.5rem;
}

.input-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 1;
    border-radius: 1rem;
    height: 3rem;
    width: 25rem;
}

.input {
    position: relative;
    outline: none;
    z-index: 5;
    top: 0.1rem;
    left: 0.1rem;
    color: var(--lavender-blue);
    font-size: 1rem;
    font-family: var(--main-font);
    text-decoration: none;
    width: 100%;
    height: 3rem;
    border-radius: inherit;
    background: linear-gradient(180deg, #341257, #4a238e);
    border: none;
    text-indent: 2rem;
    appearance: none;
    cursor: none;
}

.input::placeholder {
    color: var(--lavender-blue);
    font-size: 1rem;
    font-family: var(--main-font);
}

.error-span {
    color: var(--melon) !important;
    position: absolute;
    right: 0;
    top: -1rem;
    margin-right: 0.4rem;
    opacity: 0;
    transition: all .375s ease;
}

.error-span.show {
    opacity: 1;
}

.input-border {
    background: linear-gradient(180deg, #804ef6, #c88dfd 50%, #573d9d);
    width: 25.2rem;
    height: 3.2rem;
    position: absolute;
    z-index: 4;
    border-radius: 1rem;
}

.input-border.error {
    background: linear-gradient(53deg, #fe507c, #e19e93);
}

.submit-label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem !important;
}

.submit-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    z-index: 9;
    transition: all .375s ease;
    cursor: pointer !important;
}

.submit-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
    background: linear-gradient(53deg, #573d9d, #804ef6);
    color: white;
    font-family: var(--bold-font);
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index: 4;
    /* transition: all .2s ease; */
    cursor: pointer !important;
}

.submit-btn:before {
    position: absolute;
    width: 8.2rem;
    height: 2.7rem;
    border-radius: 2rem;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1;
    background: linear-gradient(180deg, #573d9d, #c88dfd 50%, #4a238e);
}

.submit-btn:hover .submit-input {
    background: #804ef6;
}

/* ----------------------------------------------- FOOTER CSS ---------------------------------------------- */

.footer{
    /* margin: 0 2rem; */
    width: 100%;
    display: block;
    flex: 0 0 auto;
    position: relative;
    background: var(--russian-violet);
}

.footer-container{
    margin: 2rem 5rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo {
    width: 16rem;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    outline: none;
    user-select: none;
    border: none;
    text-decoration: none;
}

footer .logo-image{
    z-index: 1;
    filter: invert(99%) sepia(0%) saturate(4450%) hue-rotate(112deg) brightness(111%) contrast(100%);
}

.footer-menu-wrap {
    display: block;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    list-style: none;
}

.footer-menu-item {
    display: flex;
    cursor: pointer !important;
}

.footer-menu-link {
    font-family: var(--sub-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    transition: color 375ms ease;
    text-decoration: none;
    outline: none;
}

.footer-menu-item:hover .footer-menu-link {
    color: var(--lavender-blue) !important;
}

.footer-bottom-line {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding: 0.5rem;
    color: var(--lavender-blue);
    font-family: var(--main-font);
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .bubbles span {
        height: 5px;
        box-shadow: 0 0 0 2px #b86ba044,
        0 0 10px #b86ba0,
        0 0 20px #b86ba0;
    }

    .bubbles span:nth-child(even) {
        height: 5px;
        box-shadow: 0 0 0 2px #f3b3a044,
            0 0 10px #f3b3a0,
            0 0 20px #f3b3a0;
    }

    .header-container {
        position: relative;
        margin: 0 2rem;
    }

    .login-btn {
        display: none;
    }

    .menu-wrap {
        display: none;
    }

    .hamburger {
        display: block;
    }
}