<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href={{ url_for( "static" ,
        filename="css/dashboard.css") }} />
        <title>Dashboard</title>
    </head>
    <body>  
        <main>
            <div class="header">
                <div class="header-container">
                    <a href="/" class="logo">
                        <img
                            class="logo-image"
                            src="static/img/logo.svg"
                            alt="logo"
                        />
                    </a>
                    <nav class="menu-wrap">
                        <div class="account">
                            <p class="account-name">Hadea0090</p>
                            <img src="static/img/profile.jpg" alt="" />
                        </div>
                        <div class="logout-link">
                            <a class="account-logout" href="login">Log Out</a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="viewer-controller-container">
                    <div class="viewer-container">
                        <div class="rviz-view"></div>
                        <div class="dropdown-menu">
                            <div class="menu-select">
                                <span class="selected">Camera</span>
                                <img
                                    src="static/img/arrow-up.svg"
                                    alt=""
                                    class="menu-arrow"
                                />
                            </div>
                            <ul class="view-menu">
                                <li class="view-link">2D map</li>
                                <li class="view-link">3D map</li>
                            </ul>
                        </div>
                    </div>
                    <div class="controller-container">
                        <div class="left-controller">
                            <div class="outer-circle">
                                <div class="middle-circle">
                                    <div class="inner-circle">
                                        <div class="main-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="speedometer">
                                <div class="gauge">
                                    <div class="slice-colors">
                                        <div class="st slice-item"></div>
                                        <div class="st slice-item"></div>
                                        <div class="st slice-item"></div>
                                        <div class="st slice-item"></div>
                                        <div class="st slice-item"></div>
                                    </div>
                                    <div class="needle"></div>
                                    <div class="gauge-center"></div>
                                </div>
                            </div>
                            <div>manual vs offboard</div>
                            <div>land kill loiter</div>
                        </div>
                        <div class="right controller">
                            <div class="outer-circle">
                                <div class="middle-circle">
                                    <div class="inner-circle">
                                        <div class="main-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>COEX clover</div>
                    <div>FCU</div>
                    <div>Armed state</div>
                    <div>Flying For</div>
                    <div>Battery</div>
                    <div>Local coordinates</div>
                    <div>footer</div>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="static/js/main.js"></script>
    </body>
</html>
