<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>RecoDrone</title>
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for( "static" ,
        filename="css/style.css") }} />
    </head>
    <body>
        <header class="header">
            <div class="header-container">
                <a href="/" class="logo">
                    <!-- <img class="logo-image" src="static/img/logo-animated.svg" alt="logo"></img> -->
                    <span class="object-span">
                        <object class="logo-image" type="image/svg+xml" data="static/img/logo-vertical.svg" >
                            <img class="logo-image-bk" src="static/img/logo-vertical.svg" alt="logo"></img>
                        </object>
                    </span>
                </a>
                <nav class="menu-wrap">
                    <ul class="menu">
                        <ls class="menu-item active"><a href="/home" class="menu-item-link">HOMEPAGE</a></ls>
                        <ls class="menu-item"><a href="/aboutus" class="menu-item-link">ABOUT US</a></ls>
                        <ls class="menu-item"><a href="/contact" class="menu-item-link">CONTACT</a></ls>
                    </ul>
                </nav>
                <a href="/login" class="login-btn">
                    <span class="login-btn-txt">LOG IN</span>
                </a>
                <div class="hamburger">
                    <span class="ham-stick top"></span>
                    <span class="ham-stick mid"></span>
                    <span class="ham-stick bot"></span>
                </div>
            </div>
        </header>
        <main>
        {% block content %} {% endblock %}
        </main>
        <script type="text/javascript" src="static/js/main.js"></script>
    </body>
</html>
