{% extends "layout.html" %} {% block content %}
<div class="bubbles">
    <span style="--i: 2"></span><span style="--i: 15"></span
    ><span style="--i: 9"></span> <span style="--i: 1"></span
    ><span style="--i: 7"></span><span style="--i: 9"></span>
    <span style="--i: 4"></span><span style="--i: 7"></span
    ><span style="--i: 11"></span> <span style="--i: 5"></span
    ><span style="--i: 7"></span><span style="--i: 14"></span>
    <span style="--i: 12"></span><span style="--i: 3"></span
    ><span style="--i: 1"></span> <span style="--i: 8"></span
    ><span style="--i: 3"></span><span style="--i: 8"></span>
    <span style="--i: 4"></span><span style="--i: 13"></span
    ><span style="--i: 5"></span> <span style="--i: 15"></span
    ><span style="--i: 12"></span><span style="--i: 9"></span>
    <span style="--i: 6"></span><span style="--i: 1"></span
    ><span style="--i: 2"></span> <span style="--i: 2"></span
    ><span style="--i: 14"></span><span style="--i: 15"></span>
    <span style="--i: 11"></span><span style="--i: 4"></span
    ><span style="--i: 9"></span>
</div>
<section class="form-block">
    <!-- <span class="error-block"></span> -->
    <div class="inner-form-block">
        <h2 class="form-title">Welcome back! Nice to see you again.</h2>
        <form action="" method="POST" class="login-form" novalidate>
            {{ form.hidden_tag() }}
            <fieldset style="border: none;">
                <legend></legend>
                <label for>
                    <span>Email</span>
                    <div class="input-wrap">
                        {% if form.email.errors %}
                            {{ form.email(class="input") }}                        
                            {% for error in form.email.errors %}
                                <span class="error-span">{{ error }}</span>
                                <div class="input-border error"></div>
                            {% endfor %}
                        {% else %}
                            {{ form.email(class="input") }}
                            <div class="input-border"></div>
                        {% endif %}
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                <span class="error-span">{{ message }}</span>
                                <div class="input-border error"></div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </label>
                <label for>
                    <span>Password</span>  
                    <div class="input-wrap">
                        {% if form.password.errors %}
                            {{ form.password(class="input") }}                        
                            {% for error in form.password.errors %}
                                <span class="error-span">{{ error }}</span>
                                <div class="input-border error"></div>
                            {% endfor %}
                        {% else %}
                            {{ form.password(class="input") }}
                            <div class="input-border"></div>
                        {% endif %}
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                <span class="error-span">{{ message }}</span>
                                <div class="input-border error"></div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </label>
            </fieldset>
            <label for class="submit-label">
                <div class="submit-btn">
                    {{ form.submit(class="submit-input") }}
                </div>
            </label>
        </form>
    </div>
</section>
{% endblock content %}
